<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
    <h1>Tracking Dashboard</h1>
        <p> Tracking: {{ tracking_data.tracking }}</p>

        <ul>
        {% for item in tracking_data.history %}
            <li>
                <strong>{{ item }}</strong>: {{ tracking_data.history[item] }}
            </li>
        {% endfor %}
    </ul>

    <form action="/" method="get" style="display:inline;">
                        <button type="submit">Back</button>
                    </form>

</body>
</html>